
<div   class="container">

    <div class="two wide column">
    </div>

    <div class="fourteen wide column">
        <div class="ui raise segment">
            <form   class="ui form" (ngSubmit)="onSubmit()"  [hidden]="loginService.checkLogin()" >
                <h2 class="ui dividing header">Login User</h2>



                        <div class="field">
                            <label for="username">Username</label>
                            <input type="text" name="username" placeholder="User Name"  [(ngModel)]="model.username" required />
                        </div>
                        <div class="field">
                            <!--<label for="password">Username</label>-->

                            <input type="password" name="password" placeholder="Password" [(ngModel)]="model.password" required />
                        </div>





                <button type="submit" class="ui button">login</button>
            </form>

            <div [hidden]="!loginService.checkLogin()">
                <h3>Logged In Successfully!</h3>
                <h2>Welcome back, {{currentUserName}}</h2>
            </div>




        </div>
    </div>

</div>
