
<div   class="container">

    <div class="two wide column">
    </div>

    <div class="fourteen wide column">
        <div class="ui raise segment">
            <form  *ngIf="!registered"  class="ui form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
                <h2 class="ui dividing header">New Employee</h2>

                <div class="field">
                    <label>* Username/Password</label>
                    <div class="three fields">
                        <div class="field">
                            <input type="text" name="firstName" placeholder="First name" [(ngModel)]="newEmployee.firstName" required />
                        </div>
                        <div class="field">
                            <input type="text" name="lastName" placeholder="Last name" [(ngModel)]="newEmployee.lastName" required />
                        </div>
                        <div class="field">
                            <input type="text" name="age" placeholder="Age" [(ngModel)]="newEmployee.age" required />
                        </div>
                    </div>
                </div>

                <button type="submit" class="ui button">Register</button>
            </form>

             <!--Test:-->
            <!--{{newUser.userName}}-->
            <!--{{newUser.firstName}}-->
            <!--{{newUser.lastName}}-->
            <!--{{newUser.password}}-->

            <!--<div *ngIf="registered">-->
                <!--Register success!-->
            <!--</div>-->

        </div>




        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Employees</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Age</th>
                        </tr>
                        <tr *ngFor="let employee of employees">
                            <td>{{employee.firstName}}</td>
                            <td>{{employee.lastName}}</td>
                            <td>{{employee.age}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>

</div>








<!--<div   class="container">-->

    <!--<div class="two wide column">-->
    <!--</div>-->

    <!--<div class="fourteen wide column">-->
        <!--<div class="ui raise segment">-->
            <!--<form  *ngIf="!registered"  class="ui form" (ngSubmit)="onSubmit()" #registerForm="ngForm">-->
                <!--<h2 class="ui dividing header">Register User</h2>-->
                <!--<div class="field">-->
                    <!--<label>* Name</label>-->
                    <!--<div class="two fields">-->
                        <!--<div class="field">-->
                            <!--<input type="text" name="firstName" placeholder="First Name"  [(ngModel)]="newUser.firstName" required />-->
                        <!--</div>-->
                        <!--<div class="field">-->
                            <!--<input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName" required />-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="field">-->
                    <!--<label>* Username/Password</label>-->
                    <!--<div class="three fields">-->
                        <!--<div class="field">-->
                            <!--<input type="text" name="userName" placeholder="User Name" [(ngModel)]="newUser.userName" required />-->
                        <!--</div>-->
                        <!--<div class="field">-->
                            <!--<input type="password" name="password" placeholder="Password" [(ngModel)]="newUser.password" required />-->
                        <!--</div>-->
                        <!--<div class="field">-->
                            <!--<input type="password" name="password" placeholder="Password Again" required />-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<button type="submit" class="ui button">Register</button>-->
            <!--</form>-->

            <!--&lt;!&ndash;Test:&ndash;&gt;-->
            <!--{{newUser.userName}}-->
            <!--{{newUser.firstName}}-->
            <!--{{newUser.lastName}}-->
            <!--{{newUser.password}}-->

            <!--<div *ngIf="registered">-->
                <!--Register success!-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

<!--</div>-->
